@charset "UTF-8"; //
// // Mixins
// // @import "components/prefixer";
// @import "bower_components/materialize/sass/components/mixins";
// @import "bower_components/materialize/sass/components/color";
//
// // Variables;
// @import "bower_components/materialize/sass/components/variables";
//
// // Reset
// @import "bower_components/materialize/sass/components/normalize";
//
// // components
// @import "bower_components/materialize/sass/components/global";
// @import "bower_components/materialize/sass/components/grid";
// @import "bower_components/materialize/sass/components/cards";
// @import "bower_components/materialize/sass/components/sideNav";
// @import "bower_components/materialize/sass/components/forms/forms";
// @import "bower_components/materialize/sass/components/buttons";
// @import "bower_components/materialize/sass/components/icons-material-design";
// @import "bower_components/materialize/sass/components/roboto";
// @import "bower_components/materialize/sass/components/typography";

.main {
    padding: 2rem;
}

#photoPatron {
    display: none;
}

#search {
    color: black;
}

img {
    width: 100%;
}

.grid-item,
.grid-sizer {
    width: 22%;
    margin-bottom: 4%;
}

.gutter-sizer {
    width: 4%;
}

@media screen and (max-width: 768px) {
            .grid-sizer,
            .grid-item {
                width: 48%;
            }
            .gutter-sizer {
                width: 4%;
            }
            .grid-item--width2 {
                width: 48%;
            }
        }
