@charset "UTF-8"; //
// // Mixins
// // @import "components/prefixer";
// @import "bower_components/materialize/sass/components/mixins";
@import "color";
//
// // Variables;
@import "variables";
//
// // Reset
// @import "bower_components/materialize/sass/components/normalize";
//
// // components
// @import "bower_components/materialize/sass/components/global";
// @import "bower_components/materialize/sass/components/grid";
// @import "bower_components/materialize/sass/components/cards";
// @import "bower_components/materialize/sass/components/sideNav";
// @import "bower_components/materialize/sass/components/forms/forms";
// @import "bower_components/materialize/sass/components/buttons";
// @import "bower_components/materialize/sass/components/icons-material-design";
// @import "bower_components/materialize/sass/components/roboto";
// @import "bower_components/materialize/sass/components/typography";

@import "masonry";


body {
  background-image: url("../../assets/pattern/symphony.png");
  background-repeat: repeat;
}

.stardust {
  background-image: url("../../assets/pattern/stardust.png");

}


.main {
    padding: 2rem;
}

#photoPatron {
    display: none;
}

#search {
    color: black;
}

.brand-logo {
  margin-top: 6px;
  @media #{$small-and-down} {
    margin-top: 3px;
  }

}



#noRange {
  margin-top: 30px;
}

.chip {
  background-color: color("amber", "accent-3");
}
